@charset "UTF-8";

/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    margin: 20px auto;
  }
  
  h1 {
    color: #333;
  }
  
  div {
  	display: flex;
  	justify-content: center; 
  	align-items: center;  
  	margin-top: 10px;
  }
  
   #warning {
  	display: flex;
  	justify-content: center; 
  	align-items: center;  
  }
  
  /* Estilos para el formulario de inicio de sesión */
  
 form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centrar horizontalmente en la página */
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
button[type="submit"] {
  width: 100%; /* Ocupar todo el ancho disponible */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box; /* Incluir el relleno en el ancho total */
}
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Estilos para el enlace de registro */
  
  .register-link {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  
  .register-link a {
    color: #3498db;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
    color: #2980b9;
  }
  