/* index.css */

/* Estilos para el menú */
.menu {
    background-color: #444; /* Color de fondo del menú */
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: left; /* Alineación a la izquierda */
}

.menu nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #444; /* Color de fondo del menú */
    position: relative;
}

.menu nav ul.menu-items {
	margin-left: 72px;
    text-align: left; /* Alineación a la izquierda para los elementos normales */
}

.menu nav ul.menu-corners {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
}

.menu nav ul li {
    position: relative;
    display: inline-block;
}

.menu nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px; /* Aumenta el padding superior e inferior */
    text-decoration: none;
}


.menu nav ul li a:hover,
.menu .dropdown:hover .dropbtn 
#volver:hover,
#logout:hover {
    background-color: #555; /* Color de fondo al pasar el mouse */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd; /* Color de fondo al pasar el mouse */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.back-to-main {
    background-color: #ff5733; 
    margin-top: 20px; 
}

#volver {
    position: absolute;
    top: 0;  
    left: 0; 
    padding: 14px 20px;
    background-color: #444; 
}

.profile-logout {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

#mi_perfil {
    margin-right: 10px; /* Espaciado entre Mi perfil y Cerrar sesión */
}

#logout {
    margin-right: 0; /* Alinea al borde derecho */
}
