<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
  <display-name>Java_TP_Boliche</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Signin</display-name>
    <servlet-name>Signin</servlet-name>
    <servlet-class>servlet.Signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signin</servlet-name>
    <url-pattern>/Signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>servlet.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvUsuarios</display-name>
    <servlet-name>SvUsuarios</servlet-name>
    <servlet-class>servlet.SvUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvUsuarios</servlet-name>
    <url-pattern>/SvUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvFiestas</display-name>
    <servlet-name>SvFiestas</servlet-name>
    <servlet-class>servlet.SvFiestas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvFiestas</servlet-name>
    <url-pattern>/SvFiestas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarFiesta</display-name>
    <servlet-name>RegistrarFiesta</servlet-name>
    <servlet-class>servlet.RegistrarFiesta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarFiesta</servlet-name>
    <url-pattern>/RegistrarFiesta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>servlet.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarLugar</display-name>
    <servlet-name>RegistrarLugar</servlet-name>
    <servlet-class>servlet.RegistrarLugar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarLugar</servlet-name>
    <url-pattern>/RegistrarLugar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualizarLugar</display-name>
    <servlet-name>ActualizarLugar</servlet-name>
    <servlet-class>servlet.ActualizarLugar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizarLugar</servlet-name>
    <url-pattern>/ActualizarLugar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarLugar</display-name>
    <servlet-name>EditarLugar</servlet-name>
    <servlet-class>servlet.EditarLugar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarLugar</servlet-name>
    <url-pattern>/EditarLugar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEliminarLugar</display-name>
    <servlet-name>SvEliminarLugar</servlet-name>
    <servlet-class>servlet.SvEliminarLugar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEliminarLugar</servlet-name>
    <url-pattern>/SvEliminarLugar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mostrarUsuarios</display-name>
    <servlet-name>mostrarUsuarios</servlet-name>
    <servlet-class>servlet.mostrarUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mostrarUsuarios</servlet-name>
    <url-pattern>/mostrarUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualizarUsuario</display-name>
    <servlet-name>ActualizarUsuario</servlet-name>
    <servlet-class>servlet.ActualizarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizarUsuario</servlet-name>
    <url-pattern>/ActualizarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEditarUsuario</display-name>
    <servlet-name>SvEditarUsuario</servlet-name>
    <servlet-class>servlet.SvEditarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEditarUsuario</servlet-name>
    <url-pattern>/SvEditarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvBuscarUsuario</display-name>
    <servlet-name>SvBuscarUsuario</servlet-name>
    <servlet-class>servlet.SvBuscarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvBuscarUsuario</servlet-name>
    <url-pattern>/SvBuscarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEliminarUsuario</display-name>
    <servlet-name>SvEliminarUsuario</servlet-name>
    <servlet-class>servlet.SvEliminarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEliminarUsuario</servlet-name>
    <url-pattern>/SvEliminarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEditarFiesta</display-name>
    <servlet-name>SvEditarFiesta</servlet-name>
    <servlet-class>servlet.SvEditarFiesta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEditarFiesta</servlet-name>
    <url-pattern>/SvEditarFiesta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEliminarFiesta</display-name>
    <servlet-name>SvEliminarFiesta</servlet-name>
    <servlet-class>servlet.SvEliminarFiesta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEliminarFiesta</servlet-name>
    <url-pattern>/SvEliminarFiesta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvFiesta_lugar</display-name>
    <servlet-name>SvFiesta_lugar</servlet-name>
    <servlet-class>servlet.SvFiesta_lugar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvFiesta_lugar</servlet-name>
    <url-pattern>/SvFiesta_lugar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvRegistrarFiesta_lugar</display-name>
    <servlet-name>SvRegistrarFiesta_lugar</servlet-name>
    <servlet-class>servlet.SvRegistrarFiesta_lugar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvRegistrarFiesta_lugar</servlet-name>
    <url-pattern>/SvRegistrarFiesta_lugar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEditarFiesta_lugar</display-name>
    <servlet-name>SvEditarFiesta_lugar</servlet-name>
    <servlet-class>servlet.SvEditarFiesta_lugar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEditarFiesta_lugar</servlet-name>
    <url-pattern>/SvEditarFiesta_lugar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEliminarFiesta_lugar</display-name>
    <servlet-name>SvEliminarFiesta_lugar</servlet-name>
    <servlet-class>servlet.SvEliminarFiesta_lugar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEliminarFiesta_lugar</servlet-name>
    <url-pattern>/SvEliminarFiesta_lugar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEntrada</display-name>
    <servlet-name>SvEntrada</servlet-name>
    <servlet-class>SvEntrada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEntrada</servlet-name>
    <url-pattern>/SvEntrada</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEntradaa</display-name>
    <servlet-name>SvEntradaa</servlet-name>
    <servlet-class>servlet.SvEntrada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEntradaa</servlet-name>
    <url-pattern>/SvEntradaa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarEntrada</display-name>
    <servlet-name>RegistrarEntrada</servlet-name>
    <servlet-class>servlet.RegistrarEntrada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarEntrada</servlet-name>
    <url-pattern>/RegistrarEntrada</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEditarEntrada</display-name>
    <servlet-name>SvEditarEntrada</servlet-name>
    <servlet-class>servlet.SvEditarEntrada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEditarEntrada</servlet-name>
    <url-pattern>/SvEditarEntrada</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvFiesta_lugar_disponibles</display-name>
    <servlet-name>SvFiesta_lugar_disponibles</servlet-name>
    <servlet-class>servlet.SvFiesta_lugar_disponibles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvFiesta_lugar_disponibles</servlet-name>
    <url-pattern>/SvFiesta_lugar_disponibles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sv_fiesta_lugar_disponibles_para_entradas</display-name>
    <servlet-name>Sv_fiesta_lugar_disponibles_para_entradas</servlet-name>
    <servlet-class>servlet.Sv_fiesta_lugar_disponibles_para_entradas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sv_fiesta_lugar_disponibles_para_entradas</servlet-name>
    <url-pattern>/Sv_fiesta_lugar_disponibles_para_entradas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sv_fiestas_para_fiesta_lugar</display-name>
    <servlet-name>Sv_fiestas_para_fiesta_lugar</servlet-name>
    <servlet-class>servlet.Sv_fiestas_para_fiesta_lugar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sv_fiestas_para_fiesta_lugar</servlet-name>
    <url-pattern>/Sv_fiestas_para_fiesta_lugar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEditar_MiPerfil</display-name>
    <servlet-name>SvEditar_MiPerfil</servlet-name>
    <servlet-class>servlet.SvEditar_MiPerfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEditar_MiPerfil</servlet-name>
    <url-pattern>/SvEditar_MiPerfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvMisEntradas</display-name>
    <servlet-name>SvMisEntradas</servlet-name>
    <servlet-class>servlet.SvMisEntradas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvMisEntradas</servlet-name>
    <url-pattern>/SvMisEntradas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvAgregarComentario</display-name>
    <servlet-name>SvAgregarComentario</servlet-name>
    <servlet-class>servlet.SvAgregarComentario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvAgregarComentario</servlet-name>
    <url-pattern>/SvAgregarComentario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvCreatePaymentIntent</display-name>
    <servlet-name>SvCreatePaymentIntent</servlet-name>
    <servlet-class>servlet.SvCreatePaymentIntent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvCreatePaymentIntent</servlet-name>
    <url-pattern>/SvCreatePaymentIntent</url-pattern>
  </servlet-mapping>
</web-app>